<div class="dark container-fluid">
  <!-- <a class="nav-link" href="#">Link 1</a> -->
  <span class="text-white">
    Frete Grátis nas compras acima de R$ 99 com o cupom FRETE99. Válido para sua primeira compra no site!
  </span>
</div>

<div class="py-5">
  <ul>
    <li class="col-3 pl-5">
      <a href="/home">
        <img src="../../assets/imgs/logo-header.png" alt="Logo" style="width:150px">
      </a>
    </li>
    <li class="col-6">
      <div class="input-group px-5">
        <input type="text" class="form-control" placeholder="BUSCAR">
        <div class="input-group-append">
          <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </li>
    <li class="col-3 pl-5">
      <button class="btn btn-dark mr-2" type="button" routerLink="login"><i class="fas fa-user"></i></button>
      <button class="btn btn-dark" type="submit"><i class="fas fa-shopping-bag"></i></button>
    </li>
  </ul>
</div>

<ul class="nav nav-tabs justify-content-md-center shadow-sm mb-5">
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">PRODUTOS</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">HERBAL HOUSE</a>
      <a class="dropdown-item" href="#">ORGANIC STORE</a>
      <a class="dropdown-item" href="#">NATURE HAUSE</a>
      <a class="dropdown-item" href="#">ALOE VERA</a>
      <a class="dropdown-item" href="#">BABY LINE</a></div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="promo">PROMOÇÕES</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">QUEM SOMOS</a>
  </li>
</ul>