<div class="top">
    <!-- Links -->
    <!-- <a class="nav-link" href="#">Link 1</a> -->
    <!-- Navbar text-->
    <span class="text-top">
      Frete Grátis nas compras acima de R$ 99 com o cupom FRETE99. Válido para sua primeira compra no site!
    </span>
  </div>
  <div class="header mt-4 col-12">
    <ul>
      <li>
        <a href="/home">
          <img src="../../assets/imgs/logo-header.png" alt="Logo" style="width:150px;">
        </a>
      </li>
      <li>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="BUSCAR">
          <div class="input-group-append">
            <button class="btn btn-dark" type="submit"><i class="fas fa-search"></i></button>
          </div>
        </div>
      </li>
      <li>
        <button class="btn btn-dark" type="submit"><i class="fas fa-user"></i></button>
      </li>
      <li>
        <button class="btn btn-dark" type="submit">
            <i class="fas fa-shopping-bag"></i></button>
      </li>
    </ul>
  </div>