<div class="footer dark py-4 container-fluid">
    <div class="row pt-4">
        <div class="left col">
            <!-- <a href="/home">
                <img src="../../assets/imgs/logo-header.png" alt="Logo" style="width:150px;">
              </a> -->
              <span class="text-white">
                SIGA-NOS
                <h3 class="icons-align">
                    <a href="#">
                    <i class="fab fa-facebook-square mr-3"></i>
                    <i class="fab fa-instagram mr-3"></i>
                    <i class="fab fa-youtube"></i>
                </a>
                </h3>
            </span>
        </div>
        <div class="middle col">
            <span class="text-white">
                TELEFONE
                <p>(11) 95294-1091</p>
            </span>
        </div>
        <div class="right col">
            <span class="text-white">
                PAGUE COM
                <h3 class="icons-align">
                    <i class="fab fa-cc-mastercard icons-footer mr-3"></i>
                    <i class="fab fa-cc-visa icons-footer mr-3"></i>
                    <i class="fas fa-barcode icons-footer"></i>
                </h3>
                <!-- <img width="305" height="25" src="../../assets/imgs/payment-bbx.svg"> -->
            </span>
        </div>
    </div>
    <div class="mt-5">
        <p class="text-white">© 2020 THE BOTANICALS INTERNATIONAL LIMITED</p>
    </div>
</div>