
<section class="promo">
    <div class="container my-3">
      <span class="row justify-content-md-center my-3">PROMOÇÕES</span>
      <div class="row justify-content-md-center">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-cherry.jpg" alt="Cherry">
          <div class="card-body text-center">
            <h6 class="card-title">Cherry Raspberry Kit Care</h6>
            <p class="card-text">R$: 24,90</p>
            <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
          </div>
        </div>
        <div class="card ml-4" style="width:300px">
          <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-violet.jpg" alt="Violet">
          <div class="card-body text-center">
            <h6 class="card-title">Violet Kit Care</h6>
            <p class="card-text">R$: 28,90</p>
            <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
          </div>
        </div>
        <div class="card ml-4" style="width:300px">
            <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-camomile.jpg" alt="Camomile">
            <div class="card-body text-center">
              <h6 class="card-title">Camomile Kit Care</h6>
              <p class="card-text">R$: 24,90</p>
              <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
            </div>
          </div>
      </div>
  
      <div class="row justify-content-md-center my-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/micerellar.jpg" alt="Micerellar">
          <div class="card-body text-center">
            <h6 class="card-title">Micerellar Water</h6>
            <p class="card-text">R$: 15,90</p>
            <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
          </div>
        </div>
        <div class="card ml-4" style="width:300px">
          <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-watermelon.jpg" alt="Watermelon">
          <div class="card-body text-center">
            <h6 class="card-title">Soap Watermelon</h6>
            <p class="card-text">R$:12,90</p>
            <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
          </div>
        </div>
        <div class="card ml-4" style="width:300px">
            <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/banana.jpg" alt="Banana">
            <div class="card-body text-center">
              <h6 class="card-title">Banana Shampoo</h6>
              <p class="card-text">R$:14,90</p>
              <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
            </div>
          </div>
      </div>

      <div class="row justify-content-md-center">
        <div class="card ml-4" style="width:300px">
            <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-seaweed-serum.jpg" alt="Seaweed">
            <div class="card-body text-center">
              <h6 class="card-title">Seaweed Serum</h6>
              <p class="card-text">R$: 32,90</p>
              <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
            </div>
          </div>
        <div class="card ml-4" style="width:300px">
          <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/chocolate.jpg" alt="Citrus Vanilla">
          <div class="card-body text-center">
            <h6 class="card-title">Citrus Vanilla - Chocolate Paradise</h6>
            <p class="card-text">R$: 38,90</p>
            <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
          </div>
        </div>
        <div class="card ml-4" style="width:300px">
            <img class="card-img-top" src="../../assets/imgs/cosmetic-lines/promo/promo-night-repair.jpg" alt="Night Repair">
            <div class="card-body text-center">
              <h6 class="card-title">Night Repair Serum</h6>
              <p class="card-text">R$: 32,90</p>
              <a href="#" class="btn btn-dark btn-sm stretched-link">+ ADICIONAR</a>
            </div>
          </div>
      </div>

    </div>
  </section>