<section class="carousel">
  <div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>

    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/imgs/banners-carousel/2.png" alt="Floral Line">
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/banners-carousel/3.png" alt="Nature Line">
      </div>
      <div class="carousel-item">
        <img src="../../assets/imgs/banners-carousel/1.png" alt="PROMO">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
</section>


<div class="container my-5">
  <div class="row pb-4">
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo-buttercup.jpg" alt="Buttercup"></a></div>
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/img-h-1.jpg" alt="Sh-op"></a></div>
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo-o.jpg" alt="Ó Bógen"></a></div>
  </div>
</div>
<div class="container">
  <span class="row justify-content-md-center my-3">MAIS VENDIDOS</span>
  <div class="row justify-content-md-center">
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo/promo-cherry.jpg" alt="Cherry"></a></div>
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo/promo-violet.jpg" alt="Violet"></a></div>
  </div>
  <div class="row justify-content-md-center mt-3">
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo-buttercup.jpg" alt="Buttercup"></a></div>
    <div class="col-4"><a href="#"><img class="img-responsive mx-auto d-block"
          src="../../assets/imgs/cosmetic-lines/promo-o.jpg" alt="Ó Bógen"></a></div>
  </div>
</div>

<section class="newsletter">
  <div class="container" id="demo">
    <div class="row justify-content-md-center py-5">
      <div class="col-sm-8">
        <div class="content mt-5">
          <form>
            <h6>RECEBA NOSSAS NOVIDADES E PROMOÇÕES</h6>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="INSIRA SEU EMAIL...">
              <div class="input-group-append">
                <button class="btn btn-dark" type="submit"><i class="fas fa-arrow-right"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>